 .dashboard-funcionario-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0;
  height: 100%;
}

.funcionario-title h1 {

  margin: 10rem 50rem 0 0;

  color: black;
  font-size: 2rem;

}